{{#if addNewQuestion}}
  <h4>New Question</h4>
  <div>
      <form>
        <div class="form-group">
          <label for="author">Name: </label>
          {{input value=author id="author"}}
        </div>

        <div class="form-group">
          <label for="body">Question: </label>
          {{input value=body id="body"}}
        </div>

        <div class="form-group">
          <label for="notes">Notes: </label>
          {{input value=notes id="notes"}}
        </div>

        <button {{action 'save1'}}>Post</button>
      </form>
  </div>
{{else}}
  <button {{action 'questionFormShow'}}>New Question</button>
{{/if}}
